@import "tailwindcss";

/* Custom styles using primary color and background */
:root {
  --color-primary: #99959c; /* purple-900 */
  --color-background: #f9fafb; /* gray-50 */
}

body {
  background-color: #f9fafb;
}
